body {
    background-color: #ccaa6bbd;
}

.title {
    background-color: rgb(119, 25, 8);
    padding-top: 10px;
    padding-bottom: 5px;
}

.subtitulo {
    line-height: 0.1;
    padding-top: 1px;
    margin-left: 160px;
    font-style: italic;
    font-size: 21px;
}

#titulo {
    font-size: 40px;
    line-height: 0.5;
    padding-bottom: 1px;
    margin-bottom: 1px;
    margin-top: 30px;
    margin-left: 100px;
    font-family:'Times New Roman', Times, serif
}

.topnav {
    background-color: rgb(109, 71, 40);
    font-size: 20px;
    text-align: center;
    text-decoration-color: white;
}

.searchbar {
    padding-right: 30px;
}

.footer {
    background-color: blue;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header" "header"
    "main" "aside"
    "footer" "aside";
}