body {
    background-color: #ccaa6bbd;
}

.header {
    background-color: rgb(119, 25, 8);
    padding-top: 10px;
    padding-bottom: 5px;
}

.subtitulo {
    line-height: 0.1;
    padding-top: 1px;
    margin-left: 160px;
    font-style: italic;
    font-size: 21px;
}

.titulo {
    font-size: 40px;
    line-height: 0.5;
    padding-bottom: 1px;
    margin-bottom: 1px;
    margin-top: 30px;
    margin-left: 100px;
    font-family:'Times New Roman', Times, serif
}

.aside {
    background-color: rgb(6, 6, 82);
    color: white;
}

.topnav {
    background-color: rgb(109, 71, 40);
    font-size: 20px;
    text-align: center;
    text-decoration-color: white;
}

.searchbar {
    padding-right: 30px;
}

.footer {
    background-color: rgb(119, 25, 8);
    color: #f0e1c4bd;
}

.footer-text {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-rows: 150px 1fr 300px;
    grid-template-columns: 1fr 330px;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
}

header {
 grid-area: header;
}

main {
 grid-area: main;
}

aside {
 grid-area: aside;
}

footer {
 grid-area: footer;
}